.SidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border: 1px solid white;
}

.SidebarChat:hover {
    background-color: coral;
}

.SidebarChat_info > h2 {
    font-size: 16px;
    margin-bottom: 8px;
}
.SidebarChat_info {
    margin-left: 15px;
}

.addNew
{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(121, 50, 38);
    border: 3px solid rgb(121, 50, 38);
    background-color:rgba(255, 248, 219,0.75);
    border-radius: 10px;
    cursor: cell;
}